<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Linker</title>

    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-000">
    <main class="grid h-auto w-full bg-gray-300 mt-10 mb-32">
      <center>
        <img
          class="mb-32"
          src="static/KIIT.png"
          height="80"
          width="80"
        />

        <h1
          class="max-w-1xl mb-32 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
        >
          Query Linker
        </h1>

        <form action="/searchengine" method="POST">
          <div
            class="flex w-[30rem] rounded-lg"
            x-data="{ search: '' }"
          >
            <input
              name="Name"
              type="search"
              class="m-2 w-full rounded-lg border px-2 py-1 text-gray-900 focus:border-2"
              placeholder="Enter your Query"
              x-model="search"
            />
            <button
              class="m-2 rounded-lg px-5 py-2 font-bold text-gray-100"
              :class="(search) ? 'bg-green hover:bg-sky' : 'bg-gray-500 cursor-not-allowed'  "
              :disabled="!search"
            >
              Search
            </button>
          </div>
        </form>
      </center>
    </main>

    <main class="grid h-auto w-900 bg-gray-300 mt-10 mb-40">
      <center>
        <h1>
          Search results for :
          <h3>{{topic}}</h3>
        </h1>
      </center>
      <div class="max-w-lg mx-auto">
        <div
          class="bg-white rounded-lg w-full text-gray-900 text-sm font-medium"
        >
          {% for link in result %}
          <a
            href="{{link}}"
            class="block px-4 py-2 rounded border-none w-full hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 cursor-pointer"
          >
            {{link}}
          </a>
          {% endfor %}
        </div>
      </div>
    </main>

    <div class="mb-96"></div>
    
    <!-- component -->
    <!-- This is an example component -->
    
    <footer>
      <div class="bg-gray-100">
        <div class="max-w-full mx-auto text-black py-10">
          <div class="text-center">
            <h2 class="text-3xl mb-3">Developed By</h3>
            <p class="text-gray-400">
              Shivans Awasthi, Debayan Das, Sudipta Mali, Rhythm Sahu and
              Sarthak Soumy
            </p>
          </div>
          <div
            class="mt-10 flex flex-col md:justify-between items-center text-sm text-gray-400"
          >
            <p class="order-2 md:order-1 mt-8 md:mt-0">
              &copy; Query Linker KIIT Domain, 2024.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script
      defer
      src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </body>
</html>
