<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Linker - KIIT</title>

    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-000">
    <main class="grid h-auto w-full bg-gray-300 mt-8">
      <center>
        <img
          class="mt-8"
          src="static/KIIT.png"
          height="80"
          width="80"
        />

        <h1
          class="max-w-1xl mt-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
        >
          Query Linker
        </h1>

         <h4
          class="w-full mt-8 md:text-sm xl:text-sm"
        >
          Search anything inside the .kiit.ac.in Domain
        </h4>

        <form action="/searchengine" method="POST" class="mt-8">
          <div
            class="flex w-[30rem] rounded"
            x-data="{ search: '' }"
          >
            <input
              name="Name"
              type="search"
              class="m-2 w-full rounded border px-2 py-1 text-gray-900 focus:border-1"
              placeholder="Enter your Query"
              required
            />
            <button
              class="m-2 rounded px-5 py-2 font-bold text-gray-100 bg-green hover:bg-sky"
            >
              Search
            </button>
          </div>
        </form>
      </center>
    </main>

    <main class="grid h-auto w-900 bg-gray-300 mt-10 mt-8">
      <center>
        <h1>
          Search results for :
          <h3>{{topic}}</h3>
        </h1>
      </center>
      <div class="w-auto mx-auto">
        <div
          class="bg-white rounded w-full text-gray-900 text-sm font-medium"
        >
          {% for link in result %}
          <a
            href="{{link}}"
            class="block px-4 py-2 rounded border-none w-full hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 cursor-pointer"
          >
            {{link}}
          </a>
          {% endfor %}
        </div>
      </div>
    </main>

    <div class="mb-8"></div>
    
    <!-- component -->
    <!-- This is an example component -->
    
    <footer class="mt-8 w-full text-center bg-gray-200">
            <h2 class="text-2xl my-3">Developed By</h3>
            <p class="text-gray-400">
              Shivans Awasthi, Debayan Das, Sudipta Mali, Rhythm Sahu and Sarthak Soumy
            </p>
          <div
            class="mt-10 flex flex-col md:justify-between items-center text-sm text-gray-400"
          >
            <p class="my-8">
              &copy; Query Linker KIIT Domain, 2024.
            </p>
      </div>
    </footer>

    <script
      defer
      src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </body>
</html>
